.profile {
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 870px) {
    .profile {
        padding-top: 39px;
        flex-direction: column;
    }
}