.header__logo {
    width: 142px;
    height: 33px;
}

.header__logo:hover {
    opacity: 0;
}

@media (max-width: 340px) {
    .header__logo {
        width: 103px;
        height: 24px;
        padding-left: 27px;
    }
}