.header__logo {
    width: 142px;
    height: 33px;
    padding-top: 45px;
    padding-bottom: 36px;
}

.header__logo:hover {
    opacity: 0;
}

@media (max-width: 340px) {
    .header__logo {
        width: 103px;
        height: 24px;
        padding-left: 27px;
        padding-top: 28px;
        padding-bottom: 31px;
    }
}