.profile__container {
    display: flex;
    align-items: center;
}

@media (max-width: 870px) {
    .profile__container {
        padding-top: 16px;
        align-items: baseline;
    }
}

@media (max-width: 620px) {
    .profile__container {
        width: 100%;
    }
}