.profile__profile-info {
    color: hsl(0, 0%, 100%);
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    display: flex;
}

@media (max-width: 870px) {
    .profile__profile-info {
        padding-left: 0;
        padding-right: 0;
        align-items: center;
        margin: auto;
    }
}