.popup__close {
    position: absolute;
    left: 450px;
    top: -50px;
    width: 32px;
    height: 32px;
    background-image: url(/../../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

.popup__close:hover {
    opacity: 0.6;
}

@media (max-width: 550px) {
    .popup__close {
        width: 20px;
        height: 20px;
        left: 94%;
        top: -40px;
    }
}